body {
  background-color: lightblue;
}
h1,
h3 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: blueviolet;
  color: white;
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

form {
  width: 80%;
  background-color: cadetblue;
  padding: 50px;
  margin-left: 20px;
}

label {
  width: 200px;
  background-color: aqua;
  color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-input-margin {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
